<p>employee-list works!</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>empName</th>
            <th>empaddress</th>
            <th>empMobileno</th>
            <th>empsalary</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ employee?.id }}</td>
            <td>{{ employee?.empName }}</td>
            <td>{{ employee?.empAddress }}</td>
            <td>{{ employee?.empMobileno }}</td>
            <td>{{ employee?.empsalary }}</td>            
        </tr>
    </tbody>
</table>
